<!DOCTYPE html>
<html>
<head>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11">
      </script>
<style> 
         body{
              background-color: blue;
              color: red;
              font-size: 50px;
              font-family: Potland;
              text-align: center;
         }
         button{
              padding: 12px;
              border-radius: 10px;
              border: none;
              cursor: pointer;
         }
</style>
<p>Amig@ te doy la bienvenida</p>
</head>

<body>
    <button onclick="inicio()">Inicio</button>
    <script>
           let msj=confirm("¿Quiere continuar?")
           function inicio(){
               
               if (msj==true) {
                   window.location.href="/Pag2";
               } else {
                 Swal.fire({
                    title: "Algo falló",
                    text: "espere unos minutos...",
                    icon: "info"})}
           }
    </script>
    <button onclick="pag1()">Siguiente</button>
    <script>
         function pag1() {
              window.location.href="/PAG1";
         }
    </script>
</body>
</html>
