<!DOCTYPE html>
<html>
<head>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style> 
         body{
              background-color: blue,
              color: red
         }
</style>
</head>

<body>
    <button onclick="inicio()">Inicio</button>
    <script>
           function inicio(){
               Swal.fire({
                   title: "tu bot esta activo",
                   text: "Que rayos está pasando aquí",
                   icon: "success"
               });
           }
    </script>
    <button onclick="pag1()">Siguiente</button>
    <script>
         function pag1() {
              window.location.href="/PAG1";
         }
    </script>
</body>
</html>
