<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style> 
    body{
        background-color: blue;
        color:green;
        font-size: 50px;
    }
    button{
        background-color: red;
        color: white;
        padding: 20px;
        border-radius: 50px;
        border: none;
    }
    #text{
        color: red;
    }
</style>
<p>Espero que disfrutes este sitio web:::...:::</p>
</head>
<body>
  <button onclick="Pag1()">Click</button>
  <script>
         function Pag1() {
            let y = confirm("Desea continuar")
            if (y == true) {
                window.location.href="/registro";
            } else {
                Swal.fire({
                    title: "Algo falló",
                    text: "Asegurese de precionar en ACEPTAR",
                    icon: "info"
                })
            }
         }
         
  </script>
</body>
</html>
