<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <button onclick="Pag1()">Click</button>
  <script>
         let nombre = prompt("Ingresa tu nombre: ")
         if (!nombre) {
             nombre = "Invitado"
         }
         function Pag1() {
             <p id="">Texto</p>
             if (nombre == nombre) {
                 let x = document.getElementById("Texto");
                 x.innerHTML = `Bienvenido ${nombre}, me alegra tenerte de regreso`;
                 x.style.color = "blue";
             }
         }
  </script>
</body>
</html>
