<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <button onclick="Pag1()">Click</button>
  <script>
         <p id="text">Texto</p>
         function Pag1() {
            let y = confirm("Desea continuar")
            if (y == true) {
                let nombre = prompt("Ingresa tu nombre: ");
                if (!nombre) {
                    nombre = "Invitado"
                }
                
                let x = document.getElementById("text");
                x.innerHTML = `Bienvenido ${nombre}, me alegra tenerte de regreso`;
                x.style.color = "blue";
                
            }
            else (y == false) {
                Swal.fire({
                    title: "Algo falló",
                    text: "Asegurese de precionar en ACEPTAR",
                    icon: "info"
                })
            }
         }
         
  </script>
</body>
</html>
